<div class="container">
  <div class="form-signin">
    <div><%= link_to('/auth/twitter', class: 'btn btn-info') do %>
    	<i class="icon-twitter"></i> Sign in with Twitter
    <% end %>
	</div>
  </div>

</div>
