<h1>プレゼンするよ</h1>

<div id="presentation">
  <ul class="controlls">
    <li><a class="prev btn" href="#"><=</a></li>
    <li><a class="next btn" href="#">=></a></li>
    <li><a class="sync sync-on btn" href="#">sync</a></li>
    <li><a class="full-screen btn" href="#">full screen</a></li>
    <li><a class="be-a-presenter btn" href="#">be a presenter</a></li>
  </ul>
  <div class="chat">
    <div class="relative-box">
      <div class="tabs">
        <ul class="tab-controlls">
          <li class="logs-tab active"><a href="#" class="btn">logs</a></li>
          <li class="members-tab"><a href="#" class="btn">members</a></li>
        </ul>
      
      </div>
      <div class="logs">プレゼン中ならプレゼン中！とか出したい<br>
        プレゼン経過時間とか出したい<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br></div>
      <div class="members hidden">
        <div>
          <h4>Presenter</h4>
          とても偉い人
        </div>
        <div>
          <h4>Listenner</h4>

          mini : since 10:15:30<br>p-baleine: since 10:20:10<br>rocky: since: 10:32:10
        </div>
      </div>
      <div class="chat-controlls">
        <input type="text" name="message">
        <button class="btn">send!</button>
      </div>
    </div>
  </div>
  <div class="iframe-box">
    <iframe id="presentation-frame" src="<%= path_for_iframe( @slide ) %>">
    </iframe>
  </div>
</div>
<%= javascript_tag do %> 
  $(document).ready( function(){
    $("body").addClass("presenting");
  });
<% end %>


