
<h1>プレゼンするよ</h1>
<ul id="controlls">
  <li><a class="prev btn" href="#"><=</a></li>
  <li><a class="next btn" href="#">=></a></li>
</ul>
<div id="preview-box">
  <iframe id="preview" src="<%= path_for_iframe( @slide ) %>">
  </iframe>
</div>


