/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */


@import 'greenmind-0.1.0/css/bootstrap';
@import 'greenmind-0.1.0/content/font/elusive-icons/css/elusive-webfont.min';

@import 'common';
@import 'slides';
@import 'session';


// 作業棲み分けのためここにかかせてください。

$opacityForHide:  0.1;

@mixin solid-border{
  border-width: 1px;
  border-style: solid;
}

body.presenting{
  min-width: 1000px;
}

.hidden{
  display: none;
}
#presentation:-webkit-full-screen{
  width: 100%;
  height: 100%;
}
#presentation{
  position: relative;
  top :0px;
  min-height: 500px;
  min-width: 980px;
  width: 95%;
  padding: 0px 10px;

  #presentation-frame{
    height: 100%;
    width: 100%;
  }

  .iframe-box{
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
  }
  .controlls:hover{
      opacity: 1;
  }

  .controlls,.chat{
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
  }


  .controlls{
    li{
      display: inline;
    }

    .sync-on{
      color: #ff0000;
      font-weight: bold;
    }

    margin: 0px 5px;
    height: 45px;
    list-style: none;
    background-color: #ffffff;
    opacity: $opacityForHide;
    @include solid-border;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    right: 320px;
    left: 10px;
  }
  .chat{
    position: absolute;
    z-index: 10;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 300px;
    opacity: $opacityForHide;

    .relative-box{
      position: relative;
      height: 100%;
    }
    .tabs{
      @include solid-border;
      background-color: #ffffff;
      position: absolute;
      top: 10px;
      width: 100%;
      height: 45px;

      .tab-controlls{
        li{ display: inline; }
        list-style: none;
        li.active{ font-weight: bold;}
      }
    }

    .logs, .members{
      overflow: scroll;
      background-color: #ffffff;
      position: absolute;
      top: 60px;
      bottom: 50px;
      width: 100%;
      @include solid-border;
    }


    .chat-controlls{
      @include solid-border;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 45px;
      padding: 3px 10px;
    }

    input[name=message]{
      width: 50px;
    }
  }

  .chat:hover{
    opacity: 1;

  }
  
}



#slide-edit{

  .edit-for-github{
  }
  .edit-for-markdown{
    .controls{
      margin-top: 10px;
    }
  }

  textarea[id=description]{
    height: 100px;
  }
  .markdown-content{
    margin-top: 10px;
  }
  .markdown-preview{
    overflow: none;
    height: 300px;
  }

}


