ul {
	list-style:none;
}

.presentation-ul {
	margin: 0;
}

.image-container img {
	width: 200px;
}

.slide-item-row {
	display: block;
	margin: 0;
	padding: 0;
	line-height: 17px;
}

.slide-item-title {
	font-weight: bold;
	color: #2793e6;
}

.overlay {
	margin-left: 5px;
}

.slide-view {
	background-color: #333;
	padding: 0 0 100px 0;
}

.button-view {
	position: absolute;
	margin-top: -37px;
	width: 610px;
}

.prev {
	margin-left: 260px;
}

.next {
	margin-left: 5px;
}

.fullscrean {
	margin-left: 200px;
}

.slide-info {
	width: 560px;
	margin-top: 30px;
	//margin-left: 20px;
	background-color: white;
	border: 1px solid #CCC;
	padding: 20px;
	margin-bottom: 30px;
}

.slide-info-left {
	float: left;
	height: 100px;
}

.slide-info-left img {
	border: 1px solid #CCC;
}

.slide-info-right {
	margin-left: 60px;
}

.slide-info-title {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 20px;
}

.slide-info-discription {

}

.button-view a {
	background-image: linear-gradient(to bottom, #06afdd, #06afdd);
}

.show-content {
	//position: relative;
	min-height: 580px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

.show-left {
	float: left;
	width: 600px;
	margin-right: 20px;
	position: relative;
}

.show-right {
	position: absolute;
	margin-left: 620px;
	width: 300px;
	background-color: #008080;
	color: white;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	//height: 100%;
	//bottom: 0;
	top: 80px;
	z-index: 5;
}

.slide-list-img {
	width: 90px;
	padding: 5px;
}

.slide-list-view {
	height: 70px;
}

.slide-list-title {
	display: block;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.slide-list-img-div {
	display: table-cell;
	float: left;
}

.slide-list-title:hover {
	text-decoration: none;
}

.user-slide-list {
	list-style-type: none;
	margin: 10px;
}

.user-slide-list li {
	margin: 10px;
}

.user-slide-list li:hover {
	background-color: #66cdaa;
	
}

.user-slide-list a {
	height: 70px;
}

.presentation-btn {
	text-align: center;
	margin: 15px 0;
}

// slide-item
.user-slide-ul {
	margin: 20px 0 10px 25px;
}

#published-slides li {
	margin-bottom: 30px;
	clear: both;
}

.slide-img-user-list {
	width: 100px;
}

.slide-list-item-left {
	float: left;
	margin-bottom: 30px;
}

.slide-list-item-right {
	margin-left: 105px;
}

.slide-list-item-title {
	margin-left: 3px;
	margin-top: 10px;
	font-weight: bold;
}

.slide-list-item-title a {
	color: #2793e6;
	text-decoration: none;
}

.slide-list-item-title a:hover {
	text-decoration: underline;
	color: #07a;
}

