.image-container img {
	width: 200px;
}

.slide-item-row {
	display: block;
	margin: 0;
	padding: 0;
	line-height: 17px;
}

.slide-item-title {
	font-weight: bold;
	color: #2793e6;
}

.overlay {
	margin-left: 5px;
}